.flat {
  flex-basis: calc(50% - 24px);
  margin: 10px;
  border: 2px solid white;

  .flat-picture {
    height: 200px;
    width: 100%;
    object-fit: cover;
    background-position: center;
  }

  .flat-title {
    margin-top: 10px;
  }

  &:hover {
    cursor: pointer;
    opacity: .6;
  }

  &.selected {
    border-color: red;
  }
}